<%= form_with(model: @artist, local: true) do |form| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= @artist.errors.count %><%= t('activerecord.errors.messages.count_of_errors') %></h2>
      <ul>
      <% @artist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name, 'ArtistName' %>
    <%= form.text_field :name, class: "sign_up_form" %>
  </div>
  <div class="form-group">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, class: "sign_up_form", placeholder: t('view.msg.leave_out_the_hyphen')  %>
  </div>
  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_field :url, class: "sign_up_form" %>
  </div>
  <div class="form-group">
    <%= form.label :note, t('view.note') %>
    <%= form.text_field :note, class: "sign_up_form", id: "artist_note" %>
  </div>
  <div class="form-group">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %><br>
    <% @artist.images.each do |image| %>
      <%= hidden_field :artist, :images, multiple: true, value: image.identifier %>
      <%= image_tag image.url, size: "100x100" %>
    <% end %>
    <%= form.hidden_field :images_cache %><br>
    <span class="point_under"><%= fa_icon("folder-open fa-lg", text: t('view.msg.maximum_of_5_images')) %></span>
  </div>
  <div class="form-group">
    <%= form.submit t('view.register'), class: "sign_up_submit" %>
  </div>
<% end %>
