<%= form_with(model: @artist, local: true) do |form| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= @artist.errors.count %><%= t('activerecord.errors.messages.count_of_errors') %></h2>
      <ul>
      <% @artist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name, 'ArtistName' %>
    <%= form.text_field :name, class: "sign_up_form" %>
  </div>
  <div class="form-group">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, class: "sign_up_form" %>
  </div>
  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_field :url, class: "sign_up_form" %>
  </div>
  <div class="form-group">
    <%= form.label :note, t('view.note') %>
    <div class="input-group col-sm-5">
       <%= form.text_field :note, class: "sign_up_form", id: "artist_note" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :images %>
    <%= form.label :images, class: 'file_up' do %>
      <%= fa_icon("camera-retro 2x", text: t('view.msg.select_file')) %>
      <%= form.file_field :images, multiple: true, class: "form_image" %>
    <% end %><br>
    <% @artist.images.each do |image| %>
      <%= hidden_field :artist, :images, multiple: true, value: image.identifier %>
      <%= image_tag image.url, size: "100x100" %>
    <% end %>
    <%= form.hidden_field :images_cache %>
  </div>
  <div class="form-group">
    <%= form.submit t('view.register'), class: "sign_up_submit" %>
  </div>
<% end %>
