<header class="masthead" style="background-image: url('/assets/artist-w.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1><span class="break-down">A</span>r<span>ti</span>s<span>t</span>L<span>is</span>t</h1>
          <br>
        </div>
      </div>
    </div>
  </div>
</header>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <p><%= t('view.msg.click_on_the_name_to_learn_more') %></p>
        <table class="artist_table" id="main_table">
          <thead>
            <tr>
              <th class="a_head">avatar</th>
              <th class="a_head">name</th>
              <th class="a_head">image</th>
              <th colspan="3" class="t_head"></th>
            </tr>
          </thead>
          <tbody>
            <% @artists.each do |artist| %>
            <tr>
              <td><%= image_tag artist.user.avatar.url, size: "100x100" %></td>
              <td><%= link_to "#{artist.name}", artist_path(artist) %></td>
              <td>
                <% artist.images.each do |image| %>
                  <%= image_tag image.url, size: "100x100" %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="offset-md-9 col-md-3">
    <br>
        <%= paginate @artists %>
    </div>
  </div>
</div>
<br>
