<%= form_with(model:[@gallery, @reservation], local: true) do |form| %>

  <div class="time">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="time">
    <%= form.label :start_time %>
    <%= form.date_select :start_time %>
  </div>

  <div class="content">
    <%= form.label :end_time %>
    <%= form.date_select:end_time %>
  </div>


  <div class="submit">
    <%= form.submit %>
  </div>

<% end %>
