<%= form_with(model:[@gallery, @reservation], local: true) do |form| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= @reservation.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="title">
    <%= form.label :title %>
    <%= form.text_field :title, class: "sign_up_form" %>
  </div>

  <div class="time">
    <%= form.label :start_time,t('view.start_time') %>
    <%= form.date_select :start_time %>
  </div>

  <div class="content">
    <%= form.label :end_time, t('view.end_time') %>
    <%= form.date_select:end_time %>
  </div>

  <span class="point_under"><%= fa_icon("bell fa-lg", text: t('view.msg.one_week_from_today')) %></span>


  <div class="submit">
    <%= form.submit t('view.register'), class: "reservation_submit" %>
  </div>

<% end %>
