<h1>White Box</h1>
<h3>Artist</h3>
<table class="task_row" id="main_table">
  <thead>
    <tr>
      <th class="t_head">avatar</th>
      <th class="t_head">name</th>
      <th class="t_head">image</th>
      <th colspan="3" class="t_head"></th>
    </tr>
  </thead>
  <tbody>
    <% @artists.each do |artist| %>
    <tr>
      <td><%= image_tag artist.user.avatar.url, size: "100x100" %></td>
      <td><%= link_to "#{artist.name}", artist_path(artist) %></td>
      <td>
        <% artist.images.each do |image| %>
          <%= image_tag image.url, size: "100x100" %>
        <% end %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<h4><%= link_to '作家一覧へ', artists_path %></h4>
<br>
<h3>Gallery</h3>
<table class="gallery_row" id="main_table">
  <thead>
    <tr>
      <th class="t_head">avatar</th>
      <th class="t_head">name</th>
      <th class="t_head">rental fee</th>
      <th class="t_head">lending period></th>
      <th class="t_head">location</th>
      <th colspan="3" class="t_head"></th>
    </tr>
  </thead>
  <tbody>
    <% @galleries.each do |gallery| %>
      <tr>
        <td><%= image_tag gallery.user.avatar.url, size: "100x100" %></td>
        <td><%= link_to gallery.name, gallery_path(gallery) %></td>
        <td><%= gallery.rental_fee_i18n %></td>
        <td><%= gallery.lending_period_i18n %></td>
        <td>
          <% if gallery.images? %>
            <%= image_tag gallery.images[0].to_s, size: "100x100" %>
          <% else %>
            <%= image_tag("/assets/image_default.png", size: "100x100") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<h4><%= link_to 'ギャラリー一覧へ', galleries_path %></h4>
