<header class="masthead" style="background-image: url('/assets/back_image.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>
            <span class="break-down"> W</span>
            <span>hi</span>
            t
            <span>e</span>
            B
            <span>o</span>
            x
          </h1>
          <br>
          <span class="subheading">Boxes and people connect</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
          <h2 class="post-title">
            About WhiteBox
          </h2>
          <h6 class="post-subtitle">
            ハコ、ヒト、つながるをコンセプトにしたギャラリーと作家のマッチングサイトです。
          </h6>
      </div>
      <hr><br><br>
      <h1>Artist</h1>
      <table class="artist_row" id="main_table">
        <thead>
          <tr>
            <th class="t_head">avatar</th>
            <th class="t_head">name</th>
            <th class="t_head">image</th>
            <th colspan="3" class="t_head"></th>
          </tr>
        </thead>
        <tbody>
          <% @artists.each do |artist| %>
          <tr>
            <td><%= image_tag artist.user.avatar.url, size: "100" %></td>
            <td><%= link_to "#{artist.name}", artist_path(artist) %></td>
            <td>
              <% artist.images.each do |image| %>
              <%= image_tag image.url, size: "100x100" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <h4><%= link_to 'Artist List', artists_path, class: "btn btn-dark-moon btn-rounded btn-lg" %></h4>
      <br>
      <h1>Gallery</h1>
      <table class="gallery_row" id="main_table">
        <thead>
          <tr>
            <th class="t_head">avatar</th>
            <th class="t_head">name</th>
            <th class="t_head">rental fee</th>
            <th class="t_head">lending period</th>
            <th class="t_head">location</th>
            <th colspan="3" class="t_head"></th>
          </tr>
        </thead>
        <tbody>
          <% @galleries.each do |gallery| %>
          <tr>
            <td><%= image_tag gallery.user.avatar.url, size: "100x100" %></td>
            <td><%= link_to gallery.name, gallery_path(gallery) %></td>
            <td><%= gallery.rental_fee_i18n %></td>
            <td><%= gallery.lending_period_i18n %></td>
            <td>
              <% gallery.label.each do |label| %>
              <p  class="label label-info"><%= label.name %></p>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <h4><%= link_to 'Gallery List', galleries_path, class: "btn btn-dark-moon btn-rounded btn-lg" %></h4>
      <br>
      <br>
    </div>
  </div>
</div>
