<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Thank you for signing up!</h1>
      <br>
      <%= image_tag @user.avatar.url, size: "80x80" %>
      <%= @user.name %>
      <%= @user.email %>
      <br>
      <p><%= fa_icon("diamond fa-lg", text: t('view.msg.your_information_next')) %></p>
      <% if @user.gallery_owner == true %>
       <%= link_to t('view.gallery_info_registar'), new_gallery_path, class: "registar_submit" %>
      <% else %>
       <%= link_to t('view.artist_info_registar'), new_artist_path, class: "registar_submit" %>
      <% end %>
    </div>
  </div>
</div>
