<%= form_with(model: @gallery, local: true) do |form| %>
  <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= @gallery.errors.count %><%= t('activerecord.errors.messages.count_of_errors') %></h2>
      <ul>
      <% @gallery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name, t('view.gallery_name') %>
    <%= form.text_field :name, class: "sign_up_form"%>
  </div>
  <div class="form-group">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, class: "sign_up_form", placeholder: t('view.leave_out_the_hyphen') %>
  </div>
  <div class="form-group">
    <%= form.label :address, class: "col-sm-2 col-form-label" %>
    <%= form.text_field :address, class: "sign_up_form" %>
  </div>
  <div class="form-group">
    <%= form.label :label, t('view.location') %>
    <span class="point_under"><%= fa_icon("map-marker fa-lg", text: t('view.msg.select_the_appropriate_area')) %></span>
    <div class="form-inline" id="location">
      <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) do |l| %>
        <%= l.label { l.check_box + l.text } %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :url, t('view.url') %>
    <%= form.text_field :url, class: "sign_up_form" %>
  </div>
  <div class="form-group">
    <%= form.label :rental_fee, t('view.rental_fee') %>
    <%= form.select :rental_fee, Gallery.rental_fees_i18n.invert %>
  </div>
  <div class="form-group">
    <%= form.label :lending_period, t('view.lending_period') %>
    <%= form.select :lending_period, Gallery.lending_periods_i18n.invert %>
  </div>
  <div class="form-group">
    <%= form.label :note, t('view.note'), class: "col-sm-2 col-form-label" %>
    <%= form.text_field :note, class: "sign_up_form", rows: 5, id: "gallery_note" %>
  </div>
  <div class="form-group">
    <%= form.label :layout, t('view.layout') %>
    <%= form.file_field :layout, type: "file" %>
    <% if action_name == "edit" %>
      <%= image_tag @gallery.layout.url, size: "100x100" %>
    <% end %>
    <%= form.hidden_field :layout_cache %><br>
    <span class="point_under"><%= fa_icon("folder-open fa-lg", text: t('view.msg.need_one_layout')) %></span>
  </div>
  <div class="form-group">
    <%= form.label :images, t('view.image_g') %>
    <%= form.file_field :images, multiple: true %>
    <br>
    <% @gallery.images.each do |image| %>
      <%= hidden_field :gallery, :images, multiple: true, value: image.identifier %>
      <%= image_tag image.url, size: "100x100" %>
    <% end %>
    <%= form.hidden_field :images_cache %><br>
    <span class="point_under"><%= fa_icon("folder-open fa-lg", text: t('view.msg.maximum_of_5_images')) %></span>
  </div>
  <div class="form-group">
    <%= form.submit t('view.register'), class: "sign_up_submit" %>
  </div>
<% end %>
