<h2>Gallery List</h2>
<br>
<%= search_form_for @search do |f| %>
  <%= f.label :name, "Gallery Name", class:'search', placeholder: 'ギャラリー名' %>
  <%= f.search_field :name_cont %>
  <%= f.submit "検索" %>
  <%= link_to '検索条件クリア', galleries_path %>
<% end %>
<table class="gallery_row" id="main_table">
  <thead>
    <tr>
      <th class="t_head">avatar</th>
      <th class="t_head">name</th>
      <th class="t_head"><%= sort_link(@search, :rental_fee, "rental_fee") %></th>
      <th class="t_head"><%= sort_link(@search, :lending_period, "lending_period") %></th>
      <th class="t_head">location</th>
      <th colspan="3" class="t_head"></th>
    </tr>
  </thead>
  <tbody>
    <% @galleries.each do |gallery| %>
      <tr>
        <td><%= image_tag gallery.user.avatar.url, size: "100x100" %></td>
        <td><%= link_to gallery.name, gallery_path(gallery) %></td>
        <td><%= gallery.rental_fee_i18n %></td>
        <td><%= gallery.lending_period_i18n %></td>
        <td>
          <% if gallery.images? %>
            <%= image_tag gallery.images[0].to_s, size: "100x100" %>
          <% else %>
            <%= image_tag("/assets/image_default.png", size: "100x100") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
