<br><br>
<h1><span class="break-down">Gal</span><span>l</span>er<span>y</span>L<span>is</span>t</h1>
<br>
<div class="form-col">
  <%= search_form_for @q do |f| %>
  <%= f.search_field :name_cont, class: "search", placeholder: 'Gallery Name' %>
  <%= f.select :label_name_eq, options_from_collection_for_select(Label.all, :name, :name, "---") , include_blank: "地区" %>
  <%= f.submit 'Search', class:"btn btn-dark-moon btn-rounded" %>
  <%= link_to 'Reset', galleries_path, class: "btn btn-dark-blue btn-rounded" %>
  <% end %>
</div>
<br>
<table class="g-table" id="main_table">
  <thead>
    <tr>
      <th class="g_head">avatar</th>
      <th class="g_head">name</th>
      <th class="g_head"><%= sort_link(@q, :rental_fee, "rental_fee") %></th>
      <th class="g_head"><%= sort_link(@q, :lending_period, "lending_period") %></th>
      <th class="g_head">location</th>
      <th colspan="3" class="t_head"></th>
    </tr>
  </thead>
  <tbody>
    <% @galleries.each do |gallery| %>
    <tr>
      <td class="g-avatar"><%= image_tag gallery.user.avatar.url, size: "100x100" %></td>
      <td class="g-name"><%= link_to gallery.name, gallery_path(gallery) %></td>
      <td class="g-rental_fee"><%= gallery.rental_fee_i18n %></td>
      <td class="g-lending_period"><%= gallery.lending_period_i18n %></td>
      <td class="g-location">
        <% gallery.label.each do |label| %>
        <p class="btn btn-outline-danger btn-sm"><%= label.name %></p>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
