<h1><span class="break-down">G</span>a<span>lla</span>ry <span>in</span>f<span>or</span>mation</h1>
<%= image_tag @gallery.user.avatar.url, id: "avatar-images" %>
<p><strong>ArtistName:</strong><%= @gallery.name %></p>
<p><strong>Name</strong><%= @gallery.user.name %></p>
<p><strong>Email:</strong><%= @gallery.user.email %></p>
<p><strong>address:</strong><%= @gallery.address %></p>
<p><strong>phone_number:</strong><%= @gallery.phone_number %></p>
<p><strong>rental_fee:</strong><%= @gallery.rental_fee_i18n %></p>
<p><strong>lending_period:</strong><%= @gallery.lending_period_i18n %></p>
<p><strong>Web:</strong><%= link_to "#{@gallery.url}", @gallery.url %></p>
<p><strong>location:</strong>
<% @gallery.label.each do |label| %>
  <p class="btn btn-outline-danger btn-sm"><%= label.name %></p>
<% end %>
<p><strong>Note:</strong><%= @gallery.note %></p>
<p><strong>Layout:</strong></p>
<div class="layout_i">
<p><%= image_tag @gallery.layout.url, class: "img-fluid", id: "l-images" %></p>
</div>
<p><strong>image:</strong></p>
  <% @gallery.images.each do |image| %>
    <%= image_tag image.url, class: "img-fluid", id: "m-images" %>
  <% end %>
<br>
<br>
<div class='btn-toolbar'>
  <div class="btn-group" role="group">
    <% if user_signed_in? %>
      <br>
      
      <% if @gallery.user_id == current_user.id %>
        <%= link_to 'DM List', rooms_path(id: @gallery.user_id), class: 'btn btn-orange-moon' %>
      <% else %>
        <% if @is_room == true %>
          <%= link_to "Send DM", room_path(@room_id), class: "btn btn-dark-moon" %>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, value: @gallery.user_id %>
            <% end %>
            <%= f.submit "Send DM", class:"btn btn-dark-moon" %>
          <% end %>
        <% end %>
      <% end %>

      <% unless @gallery.user_id == current_user.id %>
        <% if @favorite.present? %>
          <%= link_to 'Unfavorite', galleries_favorite_path(id: @favorite.id), method: :delete, class: "btn btn-dark-moon" %>
        <% else %>
          <%= link_to 'Favorite', galleries_favorites_path(gallery_id: @gallery.id), method: :post, class: "btn btn-dark-blue" %>
        <% end %>
      <% end %>
    <% end %>

    <%= link_to "Favorite List", "/users/#{@gallery.user_id}/favorites", class: 'btn btn-orange-moon' %>

    <% if @gallery.user_id == current_user.id %>
      <%= link_to 'Edit', edit_gallery_path(@gallery), class: 'btn btn-orange-moon'  %>
    <% end %>
  </div>
</div>
<br>

<%= month_calendar events: @reservation do |date, reservations| %>
  <%= date.day %>
  <% reservations.each do |reservation| %>
    <div>
      <%= link_to reservation.title, gallery_reservation_path(@gallery,reservation) %>
      <% if user_signed_in? %>
        <% if @gallery.id == reservation.gallery_id && @gallery.user_id == current_user.id %>
          <%= link_to 'Edit', edit_gallery_reservation_path(@gallery,reservation) %>
          <%= link_to 'Destroy', gallery_reservation_path(@gallery,reservation), method: :delete, data: { confirm: '本当に削除しますか？' } %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if user_signed_in? && current_user.gallery_owner != true %>
  <%= link_to t('view.make_a_reservation'), new_gallery_reservation_path(@gallery), class: "btn btn-dark-moon" %>
<% end %>
<br>
<br>
