<h1>Galleries　Information</h1>
<% if @gallery.user_id == current_user.id %>
  <%= link_to 'Edit', edit_gallery_path(@gallery) %>
<% end %>

<%= image_tag @gallery.user.avatar.url, resize: "80x80" %>
<p><strong>ArtistName:</strong><%= @gallery.name %></p>
<p><strong>Name</strong><%= @gallery.user.name %></p>
<p><strong>Email:</strong><%= @gallery.user.email %></p>
<p><strong>address:</strong><%= @gallery.address %></p>
<p><strong>phone_number:</strong><%= @gallery.phone_number %></p>
<p><strong>rental_fee:</strong><%= @gallery.rental_fee_i18n %></p>
<p><strong>lending_period:</strong><%= @gallery.lending_period_i18n %></p>
<p><strong>Web:</strong><%= link_to "#{@gallery.url}", @gallery.url %></p>
<p><strong>location:</strong>
<% @gallery.label.each do |label| %>
  <p  class="label label-info"><%= label.name %></p>
<% end %>
<p><strong>Note:</strong><%= @gallery.note %></p>
<p><strong>Layout:</strong></p>
<div class="layout_i">
  <% if @gallery.layout.present? %>
  <p><%= image_tag @gallery.layout.url %></p>
  <% else %>
  <p><%= image_tag("/assets/default.png", size: "300x300") %></p>
  <% end %>
</div>
<p><strong>image:</strong></p>
  <% @gallery.images.each do |image| %>
    <%= image_tag image.url, size: "100x100" %>
  <% end %>
<br>
<br>

<%= month_calendar events: @reservation do |date, reservations| %>
  <%= date.day %>
  <% reservations.each do |reservation| %>
    <div>
      <%= link_to reservation.title, gallery_reservation_path(@gallery,reservation) %>
      <% if @gallery.id == reservation.gallery_id && @gallery.user_id == current_user.id %>
        <%= link_to 'Edit', edit_gallery_reservation_path(@gallery,reservation) %>
        <%= link_to 'Destroy', gallery_reservation_path(@gallery,reservation), method: :delete, data: { confirm: '本当に削除しますか？' } %>
      <% end %>
    </div>
  <% end %>
<% end %>
<% if current_user.gallery_owner != true %>
  <%= link_to '予約する', new_gallery_reservation_path(@gallery) %>
<% end %>
<br>
<br>
