<br /><br /><div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Edit <%= resource_name.to_s.humanize %></h1><br />

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :name%><br />
          <%= f.text_field :name, autofocus: true, class: "sign_up_form"  %>
        </div>

        <div class="field">
          <% if current_user.persisted? && current_user.avatar? %>
            <%= image_tag current_user.avatar.to_s, size: "50x50" %>
            <label><%= f.check_box :remove_avatar %> ImageDelete</label>
          <% else %>
            <%= image_tag 'fallback/default_avatar.png', size: "50x50" %>
            <%= f.hidden_field :avatar_cache %>
          <% end %>
          <br>
          <%= f.label :avatar, class: 'file_up' do %>
            <%= fa_icon("camera-retro 2x", text: t('view.msg.select_file')) %>
            <%= f.file_field :avatar, class: "form_image" %>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "sign_up_form" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> (<%= t('view.msg.leave_blank_if_you_do_not_want_to_change_it') %>)<br />
          <%= f.password_field :password, autocomplete: "new-password", class: "sign_up_form" %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %><%= t('view.msg.characters_minimum') %></em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "sign_up_form" %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: "sign_up_submit" %>
        </div>
      <% end %>
      <br />
      <h3>Cancel my account</h3>

      <p><%= fa_icon("exclamation-circle fa-lg", text: t('view.msg.delete_your_account')) %>
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class: "cancel_account"%></p>

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
