<br />
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Sign up</h1>
      <br />
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :name%><br />
          <%= f.text_field :name, autofocus: true, class: "sign_up_form"  %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "sign_up_form" %>
        </div>

        <div class="field">
          <%= f.label :avatar %><br/>
          <%= f.label :avatar, class: 'avatar' do %>
            <%= fa_icon("camera-retro 2x", text: "ファイルを選択してください") %>
            <%= f.file_field :avatar, class: "form_image" %>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "sign_up_form" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "sign_up_form" %>
        </div>

        <div class="field">
          <%= f.label :gallery_owner %>
          <%= f.radio_button :gallery_owner, "yes", for: "true", class: "gallery_owner_select" %>yes<br />
          <%= fa_icon("hand-o-right fa-lg", text: t('view.msg.if_you_do_not_check_this_box_you_will_be_registered_as_an_artist')) %><br />
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "sign_up_submit" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
